:root{
    --rgb-color-1: linear-gradient(45deg,rgb(233, 152, 30),rgb(225, 115, 235));
    --rgb-color-2: linear-gradient(45deg,rgb(225, 115, 235),rgb(233, 152, 30));

}

.Background{
    background-image: repeating-linear-gradient(60deg,rgba(255, 0, 0, 0.664), rgba(255, 255, 0, 0.575));
    height: 100vh;
    width: auto;
}
.MainBar{
    margin: 4%;
    border-radius: 9px;
    padding-right: 5%;
    padding-left: 5%;
    

    background-color: wheat;


    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 2em;
}
.Border{
    border-radius: 9px;
    box-shadow: 5px;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: rgba(0, 0, 0, 0.192);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    justify-self:center;
    gap: 1.5em;
}
/*
.Border:hover{
    background-color: rgb(24, 24, 24);
    color: wheat;
    border-image: var(--rgb-color-1) 1;
}*/
.buttons{
    border-style: solid;
    border-color:aliceblue;
    border-radius: 8px;
    
    align-items: center;
    text-wrap: balance;
    width: auto;
    height: 40px;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 1%;

    display: flex;
    justify-items:center;
    justify-self:center;

    font-size: larger;
    font-family: Georgia;
    color: black;
    background-image: var(--rgb-color-1);
}
.buttons:hover{
    color: rgb(247, 247, 247);
    background-image: var(--rgb-color-2);
    border-color: rgb(252, 211, 161);
}